.sc-bibliography {
  font-family: Avenir, Helvetica, Arial;
  font-weight: 500;
}

.sc-bibliography .se-title {
  font-family: 'Avenir Next', 'Lato', Helvetica;
  font-size: 22px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 15px;
}

.sc-bibliography em {
  font-weight: 600;
}

