.sc-block-formula > .se-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sc-block-formula > .se-content > .se-formula {
  margin: 0px auto;
}

.sc-block-formula > .se-content > .se-label {
  padding-left: 10px;
}

.sc-block-formula.sm-error {
  background: var(--t-error-color);
}
