.sc-figure.sm-manuscript {
  box-shadow: var(--t-default-box-shadow);
  padding: var(--t-default-spacing);
}

.sc-figure .sc-section-label:first-child {
  margin-top: 0;
}

.sc-figure > .se-label {
  font-weight: var(--t-bold-font-weight);
}

.sc-figure .se-title {
  font-weight: var(--t-bold-font-weight);
}

.sc-figure .sc-legend {
  font-size: var(--t-small-font-size);
}

.sc-figure.sm-manuscript > .se-carousel > .se-navigation {
  display: flex;
  float: right;
  font-size: var(--t-small-font-size);
}

.sc-figure.sm-manuscript > .se-carousel > .se-navigation > .se-current-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: var(--t-default-spacing);
}

.sc-figure.sm-manuscript > .se-carousel > .se-navigation > .se-controls {
  display: flex;
}

.sc-figure.sm-manuscript > .se-carousel > .se-navigation > .se-controls > .se-control {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 30px;
  width: 30px;
  margin-left: 2px;
  border: var(--t-default-border);
  border-radius: var(--t-border-radius);
  cursor: pointer;
}

.sc-figure.sm-manuscript > .se-carousel > .se-navigation > .se-controls > .se-control.sm-disabled {
  opacity: 0.5;
}