.sc-figure.sm-manuscript {
  box-shadow: var(--t-default-box-shadow);
  padding: var(--t-default-spacing);
}

.sc-figure .sc-section-label:first-child {
  margin-top: 0;
}

.sc-figure > .se-label {
  font-weight: var(--t-bold-font-weight);
}

.sc-figure .se-title {
  font-weight: var(--t-bold-font-weight);
}

.sc-figure .sc-legend {
  font-size: var(--t-small-font-size);
}

.sc-figure .sc-attribution {
  font-size: var(--t-small-font-size);
}

.sc-figure .sc-permissions .sc-card:last-of-type
{
  margin-bottom: var(--t-default-spacing);
}

.sc-figure .sc-permissions .sc-card .sc-content
{
  display: flex;
  flex-direction: column;
}

.sc-figure .sc-permissions .sc-card .sc-content .se-remove-value
{
  align-self: flex-end;
  margin-top: calc(-1 * var(--t-half-spacing));
  margin-right: calc(-1 * var(--t-half-spacing));
}

.sc-figure .sc-permissions .sc-card .sc-content .sc-form-row
{
  margin: var(--t-half-spacing) 0;
}

.sc-figure .sc-permissions .se-add-value
{
  color: var(--t-action-color);
  font-size: var(--t-tiny-font-size);
}

.sc-figure .sc-permissions .se-add-value .se-label
{
  margin-left: var(--t-button-padding);
}

.sc-figure.sm-manuscript > .se-carousel > .se-navigation
{
  display: flex;
  float: right;
  font-size: var(--t-small-font-size);
}

.sc-figure.sm-manuscript > .se-carousel > .se-navigation > .se-current-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: var(--t-default-spacing);
}

.sc-figure.sm-manuscript > .se-carousel > .se-navigation > .se-controls {
  display: flex;
}

.sc-figure.sm-manuscript > .se-carousel > .se-navigation > .se-controls > .se-control {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 30px;
  width: 30px;
  margin-left: 2px;
  border: var(--t-default-border);
  border-radius: var(--t-border-radius);
  cursor: pointer;
}

.sc-figure.sm-manuscript > .se-carousel > .se-navigation > .se-controls > .se-control.sm-disabled {
  opacity: 0.5;
}