@import './_abstract.css';
@import './_acknowledgement.css';
@import './_add-reference-workflow.css';
@import './_affiliations-list.css';
@import './_article-panel.css';
@import './_authors-list.css';
@import './_block-formula.css';
@import './_block-formula-editor.css';
@import './_block-quote.css';
@import './_box.css';
@import './_card.css';
@import './_checkbox-input.css';
@import './_context-section.css';
@import './_editor.css';
@import './_edit-math-tool.css';
@import './_edit-reference-workflow.css';
@import './_edit-xref-tool.css';
@import './_ext-link.css';
@import './_figure.css';
@import './_fig-preview.css';
@import './_file-upload.css';
@import './_footnote.css';
@import './_footnote-group.css';
@import './_form-row.css';
@import './_graphic.css';
@import './_heading.css';
@import './_importer.css';
@import './_inline-formula.css';
@import './_inline-graphic.css';
@import './_math.css';
@import './_manuscript.css';
@import './_manuscript-view.css';
@import './_metadata-field.css';
@import './_modal-dialog.css';
@import './_multi-select-input.css';
@import './_preformat.css';
@import './_preview.css';
@import './_query.css';
@import './_reference.css';
@import './_reference-list.css';
@import './_ref-contrib-editor.css';
@import './_related_articles_list.css';
@import './_section-label.css';
@import './_supplementary-file.css';
@import './_table.css';
@import './_table-figure.css';
@import './_table-footnotes-editor.css';
@import './_toc.css';
@import './_unsupported.css';
@import './_upload-tool.css';
@import './_workflow-modal.css';
@import './_xref';

@import '../metadata/styles/_index.css';
