.sc-figure-target {

  font-size: $small-font-size;
  border-bottom: 1px solid $border-color;
  padding: $default-padding;

  background: #fafafa;
  border-left: 4px solid transparent;
  cursor: pointer;
  overflow: auto;

  &:hover {
    background: #fff;
  }

  &.sm-selected {
    border-left: 4px solid #91bb04;
    background: #fff;
  }

  .se-thumbnail {
    margin-right: $default-padding;
    width: 100px;
    float: left;
  }

  .se-label {
    float: left;
  }
  .se-title {
    float: left;
  }
}