.sc-footnote {
  background: $fill-light-color;
  font-size: $small-font-size;
  padding-left: $default-padding;
  padding-right: $default-padding;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}