@import './src/shared/styles/_index.css';
@import './src/editor/styles/_index.css';
@import './src/reader/styles/_index.css';
@import './src/entities/styles/_index.css';

/* TODO: Move this into a proper place */
.sc-jats-import-dialog {
  position: fixed;
  left: 50px;
  right: 50px;
  top: 50px;
  bottom: 50px;
  padding: 20px;
  background: #f1f1f1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  overflow: auto;
}

.sc-import-stage.sm-initial {
  color: #eee;
}

.sc-import-stage.sm-errored {
  color: red;
}

.sc-import-stage.sm-finished {
  color: green;
}

.sc-import-stage > .se-errors > .se-error {
  margin-top: 5px;
  padding: 5px 10px;
  border: solid 1px red;
  background: rgba(200, 0, 0 , 0.25)
}

.sc-import-stage > .se-errors > .se-error > .se-element {
  color: #666;
}
