.sc-reader-xref {
  position: relative;
  color: var(--text-action-color);
}

.sc-reader-xref .se-preview {
  display: none;
  color: #444;
  padding: 10px;
  padding-bottom: 0px;
  position: absolute;
  top: 20px;
  left: 0px;
  margin-left: -200px;
  width: 400px;
  border-radius: 4px;
  background: #fff;
  box-shadow: var(--default-box-shadow);
  z-index: 400;
  font-size: 12px;
  overflow: auto;
}

.sc-reader-xref .se-preview .se-ref {
  position: relative;
  margin-bottom: 10px;
}

.sc-reader-xref .se-preview .se-text {
  padding-left: 30px;
}

.sc-reader-xref .se-preview .se-label {
  position: absolute;
  top: 0px;
  left: 5px;
}

.sc-reader-xref:hover .se-preview {
  display: block;
}

