.sc-disp-quote {
  border-left: 3px solid #444;
  padding-left: var(--t-default-spacing);
}

.sc-disp-quote .sc-text {
  padding-top: var(--t-default-spacing);
  font-size: var(--t-small-font-size);
}
