.sc-figure.sm-manuscript {
  box-shadow: var(--t-default-box-shadow);
  padding: var(--t-default-spacing);
}

.sc-figure > .se-label {
  padding-bottom: var(--t-half-spacing);
  font-weight: var(--t-bold-font-weight);
}

.sc-figure .se-title {
  padding: var(--t-default-spacing) 0;
  font-weight: var(--t-bold-font-weight);
}
