.sc-figure.sm-manuscript {
  box-shadow: var(--t-default-box-shadow);
  padding: var(--t-default-spacing);
}

.sc-figure > .sc-section-label:first-child {
  margin-top: 0;
}

.sc-figure > .se-label {
  font-weight: var(--t-bold-font-weight);
}

.sc-figure .se-title {
  font-weight: var(--t-bold-font-weight);
}

.sc-figure .sc-caption {
  font-size: var(--t-small-font-size);
}
