.sc-fn-group {
  margin-top: 30px;
}

.sc-fn-group.sm-hidden {
  display: none;
}

.sc-fn-group > .se-empty-list {
  color: #afafaf;
  text-align: center;
}

.sc-fn-group > .sc-button {
  margin: 20px auto;
}

.sc-fn-group .sc-button > .se-tooltip {
  top: inherit;
}

.sc-fn-item {
  padding-bottom: 0px;
}

.sc-fn-item .se-fn-container {
  display: flex;
}

.sc-fn-item .se-fn-container .se-label {
  position: relative;
  top: 14px;
  min-width: 20px;
  margin: 0px 20px;
  font-size: 12px;
  font-weight: var(--strong-font-weight);
  text-align: center;
  cursor: default;
}

.sc-fn-item .se-fn-container .se-remove-ref {
  margin-top: -10px;
  font-size: 16px;
  cursor: pointer;
}

.sc-fn-item .se-fn-container .sc-fn {
  margin-right: 30px;
  margin-left: -10px;
  flex: 1 1 0;
}

/* Place remove button in the right side of card in metadata editor */
.sc-fn-item > .se-footer {
  justify-content: flex-end!important;
}
