.sc-footnote .se-container {
  position: relative;
  display: flex;
  align-items: baseline;
}

.sc-footnote .se-container .se-label {
  position: relative;
  min-width: var(--t-default-spacing);
  margin: 0px var(--t-default-spacing);
  font-weight: var(--t-bold-font-weight);
  text-align: center;
  cursor: default;
}

.sc-footnote .se-container .sc-fn {
  width: 100%;
}