/*
  Globally available styles

  Use these with care, as they may be leaking into components.
*/

/*
  Big Button
  ------------------------------------------------------------
*/
.sg-big-button {
  margin-top: 20px;
  font-size: 12px;
  background: var(--link-color);
  padding: 5px 20px;
  color: white;
  border-radius: 20px;
}

.sg-big-button:focus {
  background: #017CAC;
}

/*
 Styled Select Element
  ------------------------------------------------------------
*/
.sg-select {
  position: relative;
  display: block;
  margin-top: 10px;
}

.sg-select select {
  width: 100%;
  margin: 0;
  outline: none;
  padding: 10px;
  background: #fff;
  border: 1px solid #dadada;
  box-sizing: border-box;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sg-select::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 2;
  pointer-events: none;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #666;
  margin-top: -3px;
}
