.sc-ref-list {
  margin: 60px 0px 40px;
}

.sc-ref-list.sm-hidden {
  display: none;
}

.sc-ref-list > .se-title {
  font-family: 'Avenir Next', 'Lato', Helvetica;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
  cursor: default;
}

.sc-ref-list > .se-title > .se-empty-list {
  color: #afafaf;
  text-align: center;
}

.sc-ref-list > .se-ref-item {
  display: flex;
}

.sc-ref-list > .se-ref-item > .sc-reference {
  display: flex;
  flex: 1 1 0;
  margin-bottom: 15px;
  font-size: 15px;
  border: none;
  cursor: default;
}

.sc-ref-list > .se-ref-item > .sc-reference > .se-label {
  min-width: 20px;
  margin: 0px 20px;
  font-weight: var(--strong-font-weight);
  text-align: center;
}

.sc-ref-list > .se-ref-item > .sc-reference > .se-text {
  margin-right: 10px;
  flex: 1 1 0;
}