.sc-reference {
  display: flex;
  flex: 1 1 0;
  cursor: default;
}

/* HACK: this is a quick-fix. Without references were broken when displayed in Metadata view */
.sc-reference.sm-metadata {
  display: block;
}

.sc-reference > .se-label {
  min-width: var(--t-default-spacing);
  margin: 0 var(--t-default-spacing);
  font-weight: var(--t-bold-font-weight);
  text-align: center;
}