.sc-table-fig-preview {
  font-size: 12px;
  border-bottom: 1px solid var(--separator-color);
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  line-height: 1.5em;
  border-left: 3px solid transparent;
}

.sc-table-fig-preview .se-label {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.sc-table-fig-preview.sm-selected {
  border-left: 3px solid var(--border-action-color);
  color: var(--default-text-color);
  background: var(--active-light-bg-color);
}

.sc-table-fig-preview a {
  text-decoration: none;
}
