.sc-table {
  position: relative;
}

.sc-table > .se-unclickable-overlays {
  height: 0;
  overflow: visible;
  pointer-events: none;
  background: none !important;
}

.sc-table > .se-clickable-overlays {
  height: 0;
  overflow: visible;
  background: none !important;
}

.sc-table > table {
  table-layout: fixed;
  overflow-wrap: break-word;
  border-collapse: collapse;
  width: 100%;
}

.sc-table > table th {
  background-color: var(--t-light-background-color);
  border: var(--t-default-border);
  font-weight: var(--t-bold-font-weight);
  padding: var(--t-cell-padding);
}

.sc-table > table td {
  border: var(--t-default-border);
  font-size: var(--t-small-font-size);
  padding: var(--t-cell-padding);
}

.sc-table .se-selection-overlay > .se-selection-anchor {
  position: absolute;
  border: var(--t-input-focus-border);
}

.sc-table .se-selection-overlay > .se-selection-range {
  position: absolute;
  border: var(--t-input-focus-border);
  border-width: 1px;
  background: rgba(38, 132, 252, 0.1)
}