.sc-publisher {}
.sc-publisher .se-context-section { background: #fafafa; border-left: 1px solid var(--border-color); }
.sc-publisher .se-context-section .se-toc-entries { padding-right: 20px; }
.sc-publisher .sc-body .sc-container-editor > * { margin-bottom: 20px; }
.sc-publisher .sc-toolbar { border-bottom: 1px solid var(--border-color); }
