$fa-font-path:  "../fonts" !default;
@import '../../node_modules/font-awesome/scss/font-awesome';

.sc-author {

  .se-context-section {
    background: #fafafa;
    border-right: 1px solid $border-color;

    .se-toc-entries {
      padding-right: 20px;
    }
  }

  .se-body-section > .sc-container-editor * + * {
    margin-bottom: 20px;
  }

  .sc-toolbar {
    border-bottom: 1px solid $border-color;
  }
}
