$fa-font-path:  "../fonts" !default;
@import '../../node_modules/font-awesome/scss/font-awesome';
@import '../../node_modules/substance/styles/base/index';

// Substance core-styles
@import '../../node_modules/substance/styles/components/_all';
@import '../../node_modules/substance/packages/_all';

// Packages
@import '../../packages/unsupported/_unsupported';
@import '../../packages/jats/_all';

.sc-author {

  .se-context-section {
    background: #fafafa;
    border-right: 1px solid $border-color;

    .se-toc-entries {
      padding-right: 20px;
    }
  }

  .sc-toolbar {
    border-bottom: 1px solid $border-color;
  }
}
