.sc-entity-editor > .se-footer > .se-remove-item {
  font-size: 12px;
  background: #fff;
  padding: 2px 4px;
  border-radius: 2px;
  border: 1px solid #dedede;
}

.sc-entity-editor > .se-footer > .se-remove-item > .se-icon {
  margin-right: 5px;
}