.sc-manuscript-view {
  flex-grow: 1;
}

.sc-manuscript-view {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sc-manuscript-view .se-toolbar-wrapper {
  z-index: 1000;
  padding: 4px;
  padding-bottom: 4px;
  padding-left: 270px;
  box-shadow: var(--t-default-box-shadow);
}

.sc-manuscript-view.sm-compact .se-toolbar-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.sc-manuscript-view .se-toolbar-wrapper .sc-toolbar {
  max-width: 710px; /* 760 - 50 for padding */
}

.sc-manuscript-view.sm-compact .se-toolbar-wrapper .sc-toolbar {
  margin: 0 auto;
}

.sc-manuscript-view > .se-context-pane {
  flex: 0 2 300px;
  border-left: var(--t-default-border);
  position: relative;
}

.sc-manuscript-view .sc-body-content > .sc-container-editor {
  padding: 0;
  margin: 0 auto;
}

.sc-manuscript-view .se-context-pane > .se-context-pane-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
}

.sc-manuscript-view > .se-main-section {
  flex: 1 1 600px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sc-manuscript-view > .se-main-section > .se-toolbar-wrapper {
  flex: 0 0 40px;
}

.sc-manuscript-view > .se-main-section > .se-content-section {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}

.sc-manuscript-view > .se-main-section > .se-content-section > .se-toc-pane {
  flex: 0 0 250px;
  overflow: auto;
}

/* Do not display in compact mode to make more space for the rest */
.sc-manuscript-view.sm-compact > .se-main-section > .se-content-section > .se-toc-pane {
  display: none;
}

.sc-manuscript-view > .se-main-section > .se-content-section > .se-toc-pane.sm-hidden {
  display: none;
}

.sc-manuscript-view > .se-main-section > .se-content-section > .sc-scroll-pane {
  flex: 1 1 600px;
}

.sc-manuscript-view .se-main-section .sc-scroll-pane {
  position: relative;
}

.sc-manuscript-view .sc-container-editor:not(.sm-body) {
  border: var(--t-input-default-border);
  border-radius: var(--t-border-radius);
  padding: var(--t-input-padding);
  margin: var(--t-negative-input-padding);
}

.sc-manuscript-view .sc-container-editor:focus:not(.sm-body) {
  border: var(--t-input-focus-border);
}


/* Add padding to each child except last one */
.sc-manuscript-view .sc-container-editor > * {
  margin: var(--t-text-spacing) 0;
}

.sc-manuscript-view .sc-container-editor > *:first-child {
  margin-top: 0 !important;
}

.sc-manuscript-view .sc-container-editor > *:last-child {
  margin-bottom: 0 !important;
}