.sc-manuscript {
  max-width: 760px;
  padding: 30px;
}

.sc-manuscript-view.sm-compact .sc-manuscript {
  margin: 0 auto;
}

.sc-manuscript .sc-title .sc-text {
  line-height: 1.3em;
  font-size: var(--title-font-size);
  font-weight: 600;
}
