.sc-manuscript {
  max-width: 760px;
  padding: 30px;
}

.sc-manuscript-view.sm-compact .sc-manuscript {
  margin: 0 auto;
}

.sc-manuscript .sc-text-model-editor.sm-title {
  line-height: 1.3em;
  font-size: var(--title-font-size);
  font-family: 'Avenir Next', 'Lato', Helvetica;
  font-weight: 600;
}
