.sc-manuscript-view {
  flex-grow: 1;
}

.sc-manuscript-view {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-size: 17px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.7em;
}

.sc-manuscript-view .sc-container-editor:not(.sm-body) {
  border: var(--t-input-default-border);
  border-radius: var(--t-border-radius);
  padding: var(--t-input-padding);
  margin: var(--t-negative-input-padding);
}

.sc-manuscript-view .sc-container-editor:focus:not(.sm-body) {
  border: var(--t-input-focus-border);
}

.sc-manuscript-view .se-toolbar-wrapper {
  z-index: 1000;
  padding: 4px;
  padding-bottom: 4px;
  padding-left: 270px;
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
}

.sc-manuscript-view.sm-compact .se-toolbar-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.sc-manuscript-view .se-toolbar-wrapper .sc-toolbar {
  max-width: 710px; /* 760 - 50 for padding */
}

.sc-manuscript-view.sm-compact .se-toolbar-wrapper .sc-toolbar {
  margin: 0 auto;
}

.sc-manuscript-view > .se-context-pane {
  flex: 0 2 300px;
  background: #fafbfc;
  border-left: 1px solid #e1e4e8;
  position: relative;
}

.sc-manuscript-view .sc-body-content > .sc-container-editor {
  padding: 0;
  margin: 0 auto;
}

/* Add padding to each child except last one */
.sc-manuscript-view .sc-container-editor > * {
  margin: 15px 0;
}

.sc-manuscript-view .sc-container-editor > *:first-child {
  margin-top: 0 !important;
}

.sc-manuscript-view .sc-container-editor > *:last-child {
  margin-bottom: 0 !important;
}

.sc-manuscript-view .se-context-pane > .se-context-pane-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
}

.sc-manuscript-view > .se-main-section {
  flex: 1 1 600px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sc-manuscript-view > .se-main-section > .se-toolbar-wrapper {
  flex: 0 0 40px;
}

.sc-manuscript-view > .se-main-section > .se-content-section {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}

.sc-manuscript-view > .se-main-section > .se-content-section > .se-toc-pane {
  flex: 0 0 250px;
  overflow: auto;
}

/* Do not display in compact mode to make more space for the rest */
.sc-manuscript-view.sm-compact > .se-main-section > .se-content-section > .se-toc-pane {
  display: none;
}

.sc-manuscript-view > .se-main-section > .se-content-section > .se-toc-pane.sm-hidden {
  display: none;
}

.sc-manuscript-view > .se-main-section > .se-content-section > .sc-scroll-pane {
  flex: 1 1 600px;
}

.sc-manuscript-view .se-main-section .sc-scroll-pane {
  position: relative;
}

.sc-context-menu .sc-tool-separator {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
}

/* content specific style overrides*/
/* TODO: shouldn't these go into _manuscript.css ? */

.sc-heading {
  font-weight: 400;
  padding-top: 10px;
}

h1.sc-heading {
  font-size: var(--t-h1-font-size);
}

h2.sc-heading {
  font-size: var(--t-h2-font-size);
}

h3.sc-heading {
  font-size: var(--t-h3-font-size);
}

.sc-caption {
  font-size: 14px;
  line-height: 1.8em;
}

.sc-manuscript-view .sc-caption .sc-p .sc-italic,
.sc-manuscript-view em {
  font-weight: 600;
}

.sc-fig .se-title .sc-italic {
  font-weight: 700;
}

.sc-ref-list {
  font-size: 15px;
}
