.sc-manuscript {
  max-width: 760px;
  padding: 30px;
}

.sc-manuscript-view.sm-compact .sc-manuscript {
  margin: 0 auto;
}

.sc-manuscript .sc-text.sm-title {
  font-size: var(--t-title-font-size);
  font-weight: var(--t-bold-font-weight);
}
