.sc-multi-select-input {
  width: 100%;
  font-size: var(--t-input-font-size);
  line-height: var(--t-input-line-height);
  cursor: pointer;
  padding: var(--t-input-padding);
  margin: var(--t-negative-input-padding);
  border-radius: var(--t-border-radius);
  border: var(--t-input-default-border);
}

.sc-multi-select-input.sm-active {
  border: var(--input-focus-border);
  background: #218df312;
}

.sc-multi-select-input.sm-empty .se-label {
  color: #ccc;
  font-weight: 400;
}

.sc-multi-select-input .se-select-editor {
  position: absolute;
  top: 55px;
  left: 200px;
  background: #fff;
  border: 1px solid #8a8a8a;
  padding: 10px 20px;
  max-width: 100%;
  box-shadow: 0px 3px 7px 1px #777;
  z-index: 99;
}

.sc-multi-select-input .se-select-editor .se-select-label {
  text-align: center;
  font-size: 12px;
  color: #8a8a8a;
  margin-bottom: 10px;
}

.sc-multi-select-input .se-select-editor .se-select-item {
  display: flex;
  cursor: pointer;
}

.sc-multi-select-input .se-select-editor .se-select-item .se-icon {
  margin: 5px 0px;
  width: 20px;
}

.sc-multi-select-input .se-select-editor .se-select-item .se-item-label {
  margin-left: 10px;
}

.sc-multi-select-input .se-select-editor .se-arrow {
  width: 60px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: -16px;
}

.sc-multi-select-input .se-select-editor .se-arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: 10px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border: 1px solid #8a8a8a;
  background: #fff;
}