.sc-query {
	display: flex;
	position: relative;
}

.sc-query > .sc-input {
  border: var(--t-default-border);
	border-radius: var(--t-border-radius);
	padding: var(--t-half-spacing);
	margin-right: var(--t-half-spacing);
	font-size: var(--t-small-font-size);
	flex-grow: 1;
}

.sc-query > .se-action {
	background: var(--t-action-background-color);
	color: var(--t-inverted-text-color);
	border-radius: var(--t-border-radius);
	padding: var(--t-input-padding) var(--t-half-spacing);
}

.sc-query .sc-input::placeholder,
.sc-query .sc-input::-webkit-input-placeholder {
	color: var(--t-placeholder-text-color);
  font-weight: var(--t-normal-font-weight);
}

.sc-query.sm-error > .se-action {
	background-color: var(--t-error-color);
  color: var(--t-error-text-color);
}

.sc-query .se-error-popup {
  position: absolute;
  top: var(--t-double-spacing);
  right: var(--t-default-spacing);
  width: var(--t-small-layout-width);
  background: var(--t-background-color);
  border-radius: var(--t-border-radius);
  box-shadow: var(--t-popup-box-shadow);
  font-size: var(--t-tiny-font-size);
  text-align: center;
  color: var(--t-error-text-color);
  z-index: 10;
}

.sc-query .se-error-popup > ul {
  list-style: none;
  padding: var(--t-half-spacing);
  text-align: left;
}
