.sc-ref-contrib-editor {
  font-size: var(--input-font-size);
  line-height: var(--input-line-height);
}

.sc-ref-contrib-editor > .sc-form-row {
  width: 100%;
}

.sc-ref-contrib-editor > .sc-form-row > .se-editor {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sc-ref-contrib-editor > .sc-form-row > .se-editor > .se-input {
  width: 100%;
  margin-right: 10px;
}

.sc-ref-contrib-editor > .sc-form-row > .se-editor > .se-add-value {
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  padding: 2px 8px;
}

.sc-ref-contrib-editor > .se-add-value > .se-icon {
  margin-right: 6px;
}