.sc-text-input {
  line-height: var(--t-input-line-height);
}

.sc-text-input .se-input {
  width: 100%;
  height: var(--t-input-height);
  border-radius: 5px;
  padding: var(--t-input-padding);
  border: var(--t-input-default-border);
  margin: var(--t-negative-input-padding);
}

/*.sc-text-input.sm-editable .se-input:hover*/
.sc-text-input:focus .se-input {
  border: var(--t-input-focus-border);
}

/* TODO: use variables! */
.sc-text-input .se-input.sm-empty {
  color: #ccc;
  font-weight: 400;
}

.sc-text-input.sm-warning {
  color: var(--warning-color);
}

.sc-text-input.sm-warning .se-input {
  border: 1px solid var(--warning-color);
  background-color: var(--warning-bg-color);
}

.sc-text-input.sm-size-small {
  width: var(--width-small);
}

.sc-text-input.sm-size-medium {
  width: var(--width-medium);
}

.sc-text-input.sm-size-large {
  width: var(--width-large);
}

/* HACK: unfortunately Substance default-style is using a hard-coded value  */
.sc-text-input .sc-text-property.sm-empty .se-placeholder {
  /* TODO: use variables! */
  color: inherit !important;
}