.se-workflow-modal .sm-workflow {
  padding: var(--t-default-spacing);
}

.se-workflow-modal .sm-workflow > .se-title {
  font-size: var(--t-large-font-size);
  padding: 0 0 var(--t-default-spacing);
}

.se-workflow-modal .sm-workflow .se-dialog-section-title {
  display: flex;
  justify-content: space-between;
}

.se-workflow-modal .sm-workflow .se-dialog-section-title > .se-label {
  font-size: var(--t-text-font-size);
  color: var(--t-light-text-color);
  padding: var(--t-half-spacing) 0;
}

.se-workflow-modal .sm-workflow .se-dialog-section-title > .se-description {
  align-self: center;
  color: var(--t-light-text-color);
  font-size: var(--t-small-font-size);
}