:root {
  /* Layout */
  --small-layout-width: 300px;
  --medium-layout-width: 620px;
  --large-layout-width: 960px;

  /* Normalized heights (used by buttons and inputs) */
  --base-height: 40px;
  --short-height: 20px;
  --border-radius: 5px;

  /* Colors */
  --dark-bg-color: #2E2E2E;
  --border-color: #E0E4E4;
  --dark-border-color: #777;

  /* Used by Button component */
  --button-color: rgba(0,0,0,0.75);

  --fill-white-color: #fff;
  --fill-light-color: #f7f9f9;
  --fill-dark-color: #404040;

  --default-box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #aaa;

  /* Depending on a base-color */
  --darken-color-1: rgba(0,0,0,0.05);
  --darken-color-2: rgba(0,0,0,0.10);
  --darken-color-3: rgba(0,0,0,0.25);
  --darken-color-4: rgba(0,0,0,0.50);
  --darken-color-5: rgba(0,0,0,0.75);

  --lighten-color-1: rgba(0,0,0,0.05);
  --lighten-color-2: rgba(0,0,0,0.10);
  --lighten-color-3: rgba(0,0,0,0.25);
  --lighten-color-4: rgba(0,0,0,0.50);
  --lighten-color-5: rgba(0,0,0,0.75);

  --link-color: #1795CD;

  --text-action-color: #2E72EA;
  --border-action-color: #2E72EA;
  --light-bg-color: #F7F7F9; /* light grey */
  --active-color: #2E72EA;
  --active-light-bg-color: #2E72EA0a;
  --separator-color: rgba(0,0,0,0.05);

  /* We disable this for now, as accessibility needs more discussion */
  --focus-outline-color: transparent; /* #1795CD;/* #5BE3FF;

  /* Font colors */
  --default-text-color: rgba(0,0,0,0.75);
  --light-text-color: rgba(0,0,0,.40);

  /* Default padding */
  --default-padding: 20px;

  /* Prose font sizes */
  --default-font-size: 16px;
  --small-font-size: 13px;

  --large-font-size: 20px;
  --xlarge-font-size: 25px;
  /* Title font sizes */
  --title-font-size: 38px;
  /* Heading font sizes */
  --h1-font-size: 26px;
  --h2-font-size: 22px;
  --h3-font-size: 18px;
  --h4-font-size: 16px;

  --strong-font-weight: 600;
  --highlight-color-1: #0b9dd9;
  --highlight-color-2: #91bb04;
  --heading-letterspacing: -0.5px;

  /* code-font */
  --font-family-code: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --font-size-code: 14px;

  /* RGB #A3CDFD = HSB 209,29,80 */
  --local-selection-color: #2A8CFF;
}

:root {
   /* Font families */
   /* ----------------------------------------------------------------------*/

   /* Used for interface elements */
   --t-interface-font: 'Inter UI', system-ui, sans-serif;
   /* Used for flowing text, such as paragraphs */ 
   --t-text-font: 'Inter UI', system-ui, sans-serif;

   /* Font sizes */
   /* ----------------------------------------------------------------------*/
   
   /* Used for main text */
   --t-text-font-size: 17px; 
   /* Table of contents */
   --t-small-font-size: 14px; 
   /* Used in toolbars and dropdown menus and section labels */
   --t-tiny-font-size: 12px;
   /* E.g. article title */
   --t-title-font-size: 36px;
   /* Heading level 1 */
   --t-h1-font-size: 23px;
   /* Heading level 2 */
   --t-h2-font-size: 21px;
   /* Heading level 3 */
   --t-h3-font-size: 19px;
   /* Heading level 4 */
   --t-h4-font-size: 17px;

   /* Font weights */
   /* ----------------------------------------------------------------------*/

   --t-normal-font-weight: 400; /* Normal text weight */
   --t-bold-font-weight: 500; /* Strong emphasis */

   /* Line heights */
   /* ----------------------------------------------------------------------*/

   /* Used in main text */
   --t-default-line-height: 1.5; 

   /* Colors */
   /* ----------------------------------------------------------------------*/

  /* Default background color, used when we need to cover content, e.g. in overlays */
  --t-background-color: #fff;
  /* Main text color, used in the article */
  --t-text-color: #111;
  /* Inverted text color, to put on dark elements */
  --t-inverted-text-color: #fff;
  /* Used for section labels, card labels etc. */
  --t-light-text-color: #888;
  /* Used for focus border, e.g. selected card, or text input */
  --t-focus-color: rgb(145, 189, 240);
  /* E.g. citations of references, figures, etc. */
  --t-text-action-color: #2e72ea;
  /* Used to display warning icons */
  --t-warning-color: #ffaf46;

   /* Paddings */
   /* ----------------------------------------------------------------------*/
  --t-default-spacing: 20px; /* Default padding to create some whitespace, e.g. in figure */
  --t-input-padding: 4px; /* Padding used input boxes */

   /* Margins */
   /* ----------------------------------------------------------------------*/

  --t-flowing-content-margin: 15px 0; /* Space between content elements, e.g. between two paragraphs */

   /* Borders */
   /* ----------------------------------------------------------------------*/

  --t-input-default-border: 2px solid transparent;
  --t-input-focus-border: 2px solid rgb(145, 189, 240);
  --t-negative-input-padding: -6px; /* This must be the negative of input padding + default border width */
  --t-border-radius: 5px; /* Default border radius for rounded corners */

   /* Box shadows */
   /* ----------------------------------------------------------------------*/

  --t-default-box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
}

.sc-texture {
  height: 100%;
  position: relative;
  font-family: var(--t-interface-font)
}

.sc-texture .emphasis, .sc-texture em, .sc-texture i:not(.fa) {
  font-style: italic;
}

.sc-texture .strong, .sc-texture strong, .sc-texture b {
  font-weight: bold;
}