:root {
  --input-padding: 4px;
  --negative-input-padding: -4px;
  --input-border-radius: 5px;
  --input-default-border: 2px solid transparent;
  --input-focus-border: 2px solid #A8D0FF;
}
  
.sc-texture {
  height: 100%;
  position: relative;
}

.sc-texture .emphasis, .sc-texture em, .sc-texture i:not(.fa) {
  font-style: italic;
}

.sc-texture .strong, .sc-texture strong, .sc-texture b {
  font-weight: bold;
}