:root {
  --default-content-padding: 4px;
  --input-padding: 4px;
  --negative-input-padding: -6px;
  --input-border-radius: 5px;
  --input-default-border: 2px solid transparent;
  --input-focus-border: 2px solid rgb(145, 189, 240);
  --focus-color: rgb(145, 189, 240);
}
  
.sc-texture {
  height: 100%;
  position: relative;
  font-family: 'Inter UI', system-ui, sans-serif;
}

.sc-texture .emphasis, .sc-texture em, .sc-texture i:not(.fa) {
  font-style: italic;
}

.sc-texture .strong, .sc-texture strong, .sc-texture b {
  font-weight: bold;
}