.sc-affiliations {
  background: #fff;
}

.sc-affiliations .se-aff {
  display: flex;
  font-size: 14px;
  padding: 10px 8px 10px 10px;
  border-bottom: 1px solid #e1e4e8;
}

.sc-affiliations .se-aff .se-text-input {
  flex: 100 0 0;
  padding: 2px 10px;
}

.sc-affiliations .se-aff .se-remove-aff {
  padding: 2px 0px 2px 10px;
  flex: 0 0 0;
}

.sc-affiliations .se-metadata-affiliation-add {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #2079DC;
  border-bottom: 1px solid #e1e4e8;
}

.sc-affiliations .se-label {
  flex: 0 0 150px;
  padding: 10px;
  color: #838383;
  font-weight: 200;
}
