.sc-affiliations {
  background: #fff;
  padding-bottom: 1px;
}

.sc-affiliations .se-aff {
  display: flex;
  font-size: 14px;
  padding: 10px 8px 10px 10px;
  border-bottom: 1px solid #e1e4e8;
}

.sc-affiliations .se-aff .se-text-input {
  flex: 100 0 0;
  padding: 2px 10px;
}

.sc-affiliations .se-aff .se-remove-aff {
  padding: 2px 0px 2px 10px;
  flex: 0 0 0;
}

.sc-affiliations > .sc-button {
  margin: 10px auto;
}