.sc-authors-list > .se-content {
  padding: 30px 0px 15px;
  font-family: 'Avenir Next', 'Lato', Helvetica;
  font-size: 19px;
  font-weight: 500;
  color: #000;
}

.sc-authors-list > .se-content > .se-empty-list {
  color: #afafaf;
}

.sc-authors-list > .sc-button {
  margin: 0px auto;
}
