.sc-authors-list {
  padding: 30px 0px 20px;
  text-align: center;
  font-family: 'Avenir Next';
  font-size: 20px;
  font-weight: 500;
}

.sc-authors-list .se-author {
  display: inline-block;
}

.sc-authors-list .se-separator + .se-author {
  margin-left: 0.25em;
}
