.sc-bibliography {

}

.sc-bibliography > .se-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.sc-bibliography > .se-reference {
  margin-left: 5px;
  margin-bottom: 15px;
}

.sc-bibliography > .sc-button {
  margin-top: 25px;
}
