.sc-button {
  position: relative;
}

/* Position tooltip */
.sc-button > .se-tooltip {
  display: none;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  background: #fff;
  color: var(--default-text-color);
  padding: 2px 7px;
  border-radius: 3px;
  font-size: 14px;
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  z-index: 99;
}

.sc-button:hover > .se-tooltip {
  display: block;
}

/*
  Big Button style
*/
.sc-button.sm-style-big {
  font-size: 12px;
  background: #1895cd;
  font-family: 'Avenir Next', 'Lato', Helvetica;
  font-weight: 500;
  padding: 5px 20px;
  color: white;
  border-radius: 20px;
}

.sc-button.sm-style-big:focus {
  background: #017CAC;
}
