.sc-contributors .se-metadata-contributor {
  position: relative;
  font-size: 14px;
  border-bottom: 1px solid #e1e4e8;
  padding: 15px 5px;
}

.sc-contributors .se-metadata-contributor .se-name,
.sc-contributors .se-metadata-contributor .se-affiliations {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 5px 0px;
}

.sc-contributors .se-metadata-contributor-add  {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #2079DC;
  border-bottom: 1px solid #e1e4e8;
}

.sc-contributors .se-metadata-contributor .se-remove-contributor {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.sc-contributors .se-metadata-contributor .se-label {
  flex: 0 0 150px;
  padding: 10px;
  color: #838383;
  font-weight: 200;
}

.sc-contributors .se-metadata-contributor .se-text-input {
  border: 1px solid #dadada;
  width: 200px;
  border-radius: 3px;
  padding: 2px 10px;
  font-size: 14px;
  background: #fff;
}

.sc-contributors .se-metadata-contributor .se-text-input:focus {
  border-color: #4e92df;
}

.sc-contributors .sc-multi-select {
  padding: 10px;
}
