.sc-disp-quote {
  border: 1px solid #ddd;
  font-size: 20px;
  padding-left: 20px;
  padding: 10px;
}

.sc-disp-quote .sc-disp-quote-content {

}

.sc-disp-quote .se-attribution {
  text-align: right;
  font-size: 16px;
}
