.sc-disp-quote {
  padding-left: 20px;
  padding: 20px;
  padding-top: 0px;
  margin-left: 20px;
}

.sc-disp-quote .sc-disp-quote-content {
  border-left: 3px solid #444;
  padding-left: 20px;
}

.sc-disp-quote .se-attribution {
  text-align: right;
  font-size: 16px;
}
