.sc-fn-preview {
  font-size: 12px;
  border-bottom: 1px solid var(--separator-color);
  padding: 5px 10px;
  padding-left: 30px;
  cursor: pointer;
  position: relative;
  line-height: 1.5em;
  border-left: 3px solid transparent;
}

.sc-fn-preview .sc-p {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sc-fn-preview .sc-p .sc-text-property {
  white-space: nowrap !important;
}

.sc-fn-preview .se-label {
  position: absolute;
  top: 3px;
  left: 10px;
  width: 20px;
  vertical-align: super;
  font-size: 10px;
  overflow: visible;
}

.sc-fn-preview.sm-selected {
  border-left: 3px solid var(--border-action-color);
  color: var(--default-text-color);
  background: var(--active-light-bg-color);
}

.sc-fn-preview a {
  text-decoration: none;
}
