.sc-fn-group {
  margin-top: 30px;
}

.sc-fn-group .se-title {
  font-family: 'Avenir Next', 'Lato', Helvetica;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.sc-fn-group > .sc-button {
  margin: 20px auto;
}

.sc-fn-group .sc-button > .se-tooltip {
  top: inherit;
}

.sc-fn-item {
  padding-bottom: 0px;
}

.sc-fn-item .se-fn-container {
  display: flex;
}

.sc-fn-item .se-fn-container .container-node {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0px 10px;
}

.sc-fn-item .se-fn-container .container-node:hover {
  border: 1px solid #e1e4e8;
}

.sc-fn-item .se-fn-container .container-node:focus {
  border: 1px solid var(--link-color);
  border-radius: 5px;
  padding: 0px 10px;
}

.sc-fn-item .se-fn-container .se-label {
  position: relative;
  top: 14px;
  min-width: 20px;
  margin: 0px 20px;
  font-size: 12px;
  font-weight: var(--strong-font-weight);
  text-align: center;
}

.sc-fn-item .se-fn-container .se-remove-ref {
  margin-top: -10px;
  font-size: 14px;
  color: var(--link-color);
  cursor: pointer;
}

.sc-fn-item .se-fn-container .sc-fn {
  margin-right: 30px;
  margin-left: -10px;
  flex: 1 1 0;
}
