.sc-metadata-section {
  font-family: 'Avenir Next';
  font-weight: 500;
  font-size: 14px;
  background: #EFEFEF;
  display: flex;
  border-bottom: 1px solid #e1e4e8;
}

.sc-metadata-section .se-label {
  flex: 100 0 0;
  padding: 10px;
}

.sc-metadata-section .se-expanded {
  padding: 10px;
  flex: 0 0 0;
}


.sc-affiliations {

}