/* Navigator styles */
.sc-navigator {
  position: relative;
}

.sc-navigator .se-menu {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 5000;
  background: #212121;
  padding: 40px;
}

.sc-navigator .se-menu .se-menu-item {
  display: block;
  color: white;
}

.sc-navigator .se-menu .se-menu-group {
  color: rgba(255,255,255,0.5);
}

.sc-navigator .se-toggle {
  font-family: 'Avenir Next';
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  display: flex;
  border-top: none;
  border-bottom: 1px solid #e1e4e8;
  cursor: pointer;
}

.sc-navigator .se-toggle .se-label {
  flex: 100 0 0;
  padding: 10px;
}

.sc-navigator .se-toggle .se-expanded {
  padding: 10px;
  flex: 0 0 0;
}
