.sc-ref-preview {
  font-size: 11px;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  padding: 5px var(--default-padding);
  color: #A5A5A5;
  padding-left: 30px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.sc-ref-preview .se-label {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  font-weight: normal;
  overflow: visible;
}

.sc-ref-preview.sm-selected {
  color: #fff;
  font-weight: 600;
}