.sc-ref-list {
  margin: 60px 0px 40px;
}

.sc-ref-list > .se-title {
  font-family: 'Avenir Next', 'Lato', Helvetica;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.sc-ref-list > .se-title > .se-empty-list {
  color: #afafaf;
  text-align: center;
}

.sc-ref-list > .se-reference {
  display: flex;
  margin-bottom: 15px;
}

.sc-ref-list > .se-reference > .se-label {
  min-width: 20px;
  margin: 0px 20px;
  font-weight: var(--strong-font-weight);
  text-align: center;
}

.sc-ref-list > .se-reference > .se-text {
  margin-right: 30px;
  margin-left: 0px;
  flex: 1 1 0;
}

.sc-ref-list > .se-reference > .se-actions {

}

.sc-ref-list > .se-reference > .se-actions > .sc-button {
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  color: #9a9b9a;
  cursor: pointer;
}

.sc-ref-list > .sc-button {
  margin: 30px auto;
}
