.sc-separator {
  position: relative;
  height: 3px;
  margin: 20px 0px;
  background: #e1e4e8;
}

.sc-separator .se-label {
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -100px;
  padding: 0px 10px;
  background: #fff;
  font-size: 10px;
  text-transform: uppercase;
  width: 200px;
  text-align: center;
}