.sc-table-fig-preview {
  font-size: 11px;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  padding: 5px;
  color: #A5A5A5;
  font-weight: 600;
  cursor: pointer;
  display: table;
  width: 100%;
}
.sc-table-fig-preview.sm-selected {
  color: #fff;
  font-weight: 600;
}
.sc-table-fig-preview  .se-label {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-left: 10px;
}
