.sc-title-group .se-article-title {
  /* padding-bottom: var(--default-padding); */
  font-weight: var(--strong-font-weight);
  letter-spacing: var(--heading-letterspacing);
  font-size: var(--title-font-size);
  font-family: 'Avenir Next', 'Lato', Helvetica;
  font-weight: 600;
}

.sc-title-group .se-article-title {
  /* border: 1px solid transparent;
  border-radius: 5px; */
  /* padding: 10px; */
}

/* .sc-title-group .se-article-title:hover {
  position: relative;
  border: 1px solid #e1e4e8;
  border-radius: 5px;
  padding: 10px;
}

.sc-title-group .se-article-title:hover::before {
  content: "Title";
  position: absolute;
  display: block;
  top: -14px;
  left: 50%;
  width: 100px;
  padding: 0px 10px;
  margin-left: -50px;
  background: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.sc-title-group .se-article-title:focus {
  position: relative;
  border: 1px solid var(--link-color);
  border-radius: 5px;
  padding: 10px;
}

.sc-title-group .se-article-title:focus::before {
  content: "Title";
  position: absolute;
  display: block;
  top: -14px;
  left: 50%;
  width: 100px;
  padding: 0px 10px;
  margin-left: -50px;
  background: #fff;
  text-align: center;
  color: var(--link-color);
  font-size: 16px;
  font-weight: 500;
} */
