/* TOC
-----------------------------------------------------*/

.sc-toc {}
.sc-toc .se-toc-entries { padding: 20px 0px; }
.sc-toc .se-toc-entries .se-toc-entry {
  color: #222;
  font-weight: 600;
  letter-spacing: var(--heading-letterspacing);
  font-family: 'Avenir Next', 'Lato', Helvetica;
  display: block;
  padding: 2px 0px;
  position: relative;
}
.sc-toc .se-toc-entries .se-toc-entry.sm-active { color: #222; text-decoration: underline; }
.sc-toc .se-toc-entries .se-toc-entry.sm-active i.fa { visibility: visible; }
.sc-toc .se-toc-entries .se-toc-entry:hover { color: #222; }
.sc-toc .se-toc-entries .se-toc-entry.sm-level-1 { font-size: 16px; margin-left: 20px; }
.sc-toc .se-toc-entries .se-toc-entry.sm-level-2 { font-size: 14px; margin-left: 40px; }
.sc-toc .se-toc-entries .se-toc-entry.sm-level-3 { font-size: 12px; margin-left: 60px; }
