.sc-xref {
  color: #2A8CFF;
  /* background: rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
  white-space: nowrap;
}

.sc-xref.sm-fn {
  vertical-align: super;
  font-size: smaller;
}

.sc-xref.sm-bibr {
  /* background: rgba(11, 157, 217, 0.075);
  color: #1B6685;
  border-bottom: 1px solid rgba(11, 157, 217, 0.4); */
}

.sc-xref.sm-fig,
.sc-xref.sm-table {
  /* background: rgba(145, 187, 4, 0.15);
  border-bottom: 1px solid rgba(145, 187, 4, 0.6); */
  color: #2ac41a;
}
