.sc-boolean-input {
  cursor: pointer;
}

.sc-boolean-input.sm-size-small {
  width: var(--width-small);
}

.sc-boolean-input.sm-size-medium {
  width: var(--width-medium);
}

.sc-boolean-input.sm-size-large {
  width: var(--width-large);
}