.sc-entity-editor > * {
  margin-bottom: 15px;
}

.sc-entity-editor > .se-footer > .se-remove-item {
  font-size: 12px;
  background: #fff;
  padding: 2px 4px;
  border-radius: 2px;
  border: 1px solid #dedede;
}

.sc-entity-editor > .se-footer > .se-remove-item > .se-icon {
  margin-right: 5px;
}

.sc-entity-editor > .se-footer > .se-control {
  font-size: 12px;
  color: #499aff;
  cursor: pointer;
  margin-bottom: 0px;
}

.sc-entity-editor > .se-footer > .se-control > .se-icon {
  margin-right: 10px;
}