.sc-section > .se-title {
  font-size: $h1-font-size;
  margin-bottom: $h1-font-size;
}

.sc-section .sc-section > .se-title {
  font-size: $h2-font-size;
  margin-bottom: $h2-font-size;
}

.sc-section .sc-section .sc-section > .se-title {
  font-size: $h3-font-size;
  margin-bottom: $h3-font-size;
}

.sc-section > .se-section {
  font-size: $h1-font-size;
  margin-bottom: $h1-font-size;
}

.sc-section .sc-section > .se-title {
  font-size: $h2-font-size;
  margin-bottom: $h2-font-size;
}

.sc-section .sc-section .sc-section > .se-title {
  font-size: $h3-font-size;
  margin-bottom: $h3-font-size;
}
