$fa-font-path:  "../fonts" !default;
@import '../../node_modules/font-awesome/scss/font-awesome';
@import '../../node_modules/substance/styles/base/index';

// Substance core-styles
@import '../../node_modules/substance/styles/components/_all';
@import '../../node_modules/substance/packages/_all';

// Packages
@import '../../packages/unsupported/_unsupported';
@import '../../packages/graphic/_graphic';
@import '../../packages/figure/_figure';
@import '../../packages/footnote/_footnote';
@import '../../packages/cross-reference/_cross-reference';
@import '../../packages/ref-list/_ref-list';
@import '../../packages/ref/_ref';

/* Scientist Writer component */

.sc-scientist-writer {

  .se-context-section {
    background: #fafafa;
    border-right: 1px solid $border-color;

    .se-toc-entries {
      padding-right: 20px;
    }
  }

  .sc-scientist-writer-tools {
    border-bottom: 1px solid $border-color;
  }
}