.sc-edit-xml {
  padding: $default-padding;

  textarea {
    font-family: $font-family-code;
    font-size: $font-size-code - 2px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    // resize: none;
  }

  .se-tag {
    opacity: 0.5;
  }

  .se-actions {
    padding-top: 20px;

    .sc-button {
      margin-right: 20px;
    }
  }
}

.sc-xml-attribute-editor textarea {
  width: 100%;
  height: 100px;
}

.sc-xml-editor textarea {
  width: 100%;
  height: 270px;
}

