/*
  Custom stlye for isolated node overlays etc.
*/
.sc-isolated-node {
  position: relative;
}

.sm-selected > .se-container ::selection {
  background: transparent;
}

.sc-isolated-node.sm-selected > .se-container {
  background: rgba(163, 205, 253, 0.3);
  outline: 2px solid #A3CDFD;
}