.sc-unsupported-block-node {
  font-family: $font-family-code;
  font-size: $small-font-size - 2;
  border: 1px dashed $border-color;
}

.sc-unsupported-inline-node {
  font-family: $font-family-code;
  font-size: $small-font-size - 2;
  border: 1px dashed $border-color;
  color: #E3710C;
  cursor: pointer !important;
}

.sc-edit-xml {
  padding: $default-padding;
  textarea {
    width: 100%;
    height: 400px;
  }
}