.sc-bib-entry {
  display: flex;
  margin-bottom: 15px;
}

.sc-bib-entry > .se-label {
  min-width: 20px;
  margin: 0px 20px;
  font-weight: var(--strong-font-weight);
  text-align: center;
}

.sc-bib-entry > .se-text {
  margin-right: 10px;
  flex: 1 1 0;
}