.sc-xref {
  background: rgba(0,0,0,0.075);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  white-space: nowrap;

  &.sm-bibr {
    background: rgba(11, 157, 217, 0.075);
    color: #1B6685;
    border-bottom: 1px solid rgba(11, 157, 217, 0.4);
  }

  &.sm-fig {
    background: rgba(145, 187, 4, 0.15);
    border-bottom: 1px solid rgba(145, 187, 4, 0.6);
    color: #495A11;
  }
}

.sc-xref-targets {
  max-height: 600px;
  overflow: auto;
}

.sc-xref-tool {
  > .se-actions > button {
    padding: 5px;
    font-size: $small-font-size;
  }
}