.sc-jats-import-dialog {
  max-height: 600px;
  overflow: auto;
}

.sc-import-stage.sm-initial {
  color: #eee;
}

.sc-import-stage.sm-errored {
  color: red;
}

.sc-import-stage.sm-finished {
  color: green;
}