.sc-isolated-node.sm-co-focused {
  > .se-container {
    outline: none;
    outline-color: initial;
  }
}
.sc-isolated-node.sm-selected {
  > .se-container ::selection {
    background: transparent;
  }
}

.sc-section > .se-title {
  font-size: $h1-font-size;
  margin-bottom: $h1-font-size;
}

.sc-section .sc-section > .se-title {
  font-size: $h2-font-size;
  margin-bottom: $h2-font-size;
}

.sc-section .sc-section .sc-section > .se-title {
  font-size: $h3-font-size;
  margin-bottom: $h3-font-size;
}
