.sc-authors-list.sm-hidden {
  display: none;
}

.sc-authors-list {
  cursor: default;
}

.sc-authors-list .se-contrib {
  padding: var(--t-input-padding);
  margin: var(--t-negative-list-padding);
  cursor: default;
}

.sc-authors-list .se-contrib.sm-empty {
  color: var(--t-light-text-color);
}

.sc-authors-list .se-contrib.sm-selected {
  outline: var(--t-input-focus-border);
}

.sc-authors-list > .se-content {
  font-size: var(--t-large-font-size);
}

.sc-authors-list > .se-content > .se-empty-list {
  color: var(--t-light-text-color);
}
