.sc-edit-xref-tool {
  max-width: 440px;
  max-height: 500px;
  overflow: auto;
}

.sc-edit-xref-tool .se-option {
  padding: 5px;
  cursor: pointer;
  border-left: 3px solid transparent;
  border-bottom: 1px solid var(--t-separator-color);
}

.sc-edit-xref-tool .se-option.sm-selected {
  border-left: 3px solid var(--t-action-color);
  color: var(--t-text-color);
  background: var(--t-light-background-color);
}
