.sc-footnote {
  margin: var(--t-half-spacing) 0;
}

.sc-footnote .se-container {
  position: relative;
  display: flex;
  align-items: baseline;
}

.sc-footnote .se-container .se-label {
  position: relative;
  min-width: var(--t-default-spacing);
  margin: 0 var(--t-default-spacing);
  font-weight: var(--t-bold-font-weight);
  text-align: center;
  cursor: default;
}

.sc-footnote > .se-container > .sc-container-editor {
  width: 100%;
}