.sc-button {
  position: relative;
  height: 24px;
  min-width: 24px;
  line-height: var(--t-default-line-height);
  text-align: center;
  font-size: var(--t-tiny-font-size);
  font-weight: 600;
  border-radius: var(--t-tool-border-radius);
  padding-left: var(--t-button-padding);
  padding-right: var(--t-button-padding);
}

.sc-button > .se-dropdown {
  padding-left: 5px;
}

.sc-button[disabled=true] {
  opacity: 0.4;
  cursor: default;
}

.sc-button.sm-active {
  background: var(--t-action-color);
  color: white;
}

.sc-button:hover:not(.sm-active):not([disabled]),
.sc-button:focus {
  background: var(--t-default-button-background);
  color: var(--t-action-color);
}