
/*
HACK: hiding the placeholder inside textnodes except the first one.
We would like to change the implementation to a CSS based solution.
*/
/* TODO: use variables! */
.sc-container-editor .sc-text-node:only-child .se-placeholder {
  display: initial;
  color: #ccc;
  font-weight: 400;
}

.sc-container-editor .sc-text-node .se-placeholder {
  display: none;
}
