.sc-find-and-replace-dialog {
  border-top: 1px solid var(--t-default-block-border);
  padding: 5px;
}

.sc-find-and-replace-dialog.sm-hidden {
  display: none;
}

/* because we place the dialog at the bottom of the screen we must place tooltips above */
.sc-find-and-replace-dialog .sc-button .se-tooltip {
  top: -30px;
  left: 30px;
}

.sc-find-and-replace-dialog .se-section {
  flex: 0 0 40px;
  flex-wrap: nowrap;
}

.sc-find-and-replace-dialog .se-group {
  display: inline-block;
}

.sc-find-and-replace-dialog .se-group > * {
  display: inline-block;
}

.sc-find-and-replace-dialog .se-group + .se-group {
  margin-left: 10px;
}

.sc-find-and-replace-dialog .se-group > * + * {
  margin-left: 10px;
}

.sc-find-and-replace-dialog .se-group.sm-input > .se-label::after {
  content: ':';
}

.sc-annotation.sm-find-marker {
  background-color: yellow;
}

.sc-annotation.sm-find-marker.sm-active {
  background-color: darkgoldenrod;
}
