.sc-menu {
  background: #fff;
  box-shadow: var(--t-default-box-shadow);
  padding: 3px;
  border-radius: 3px;
}

.sc-separator {
  position: relative;
  border: var(--t-default-border);
  margin: var(--t-half-spacing) 0;
}

.sc-separator > .se-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px var(--t-half-spacing);
  background: var(--t-background-color);
  color: var(--t-light-text-color);
  font-size: var(--t-tiny-font-size);
}