/* HACK: applying the same style to other  */
/*
Come up with a cleaner solution, that allows to use Tools more flexible.
TODO are there other means using CSS preprocessor to add more selectors ?
*/
.sc-context-menu .sc-tool-group > .sc-tool,
.sc-menu > .se-item,
.sc-menu-item {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  background: none;
  border: none;
  text-align: left;
  line-height: 24px;
  font-size: 11px;
  font-weight: 600;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0px 5px;
}
.sc-context-menu .sc-tool-group > .sc-tool,
.sc-menu > .se-item,
.sc-menu-item:hover {
  background: #F7F7F9;
}
.sc-context-menu .sc-tool-group > .sc-tool[disabled=true],
.sc-menu > .se-item[disabled=true],
.sc-menu-item[disabled=true] {
  opacity: 0.3;
}
.sc-context-menu .sc-tool-group > .sc-tool.sm-active,
.sc-menu > .se-item.sm-active,
.sc-menu-item.sm-active {
  background: #eee;
  color: inherit;
}

.sc-context-menu .sc-tool-group > .sc-tool.sm-active .se-keyboard-shortcut,
.sc-menu > .se-item.sm-active .se-keyboard-shortcut,
.sc-menu-item.sm-active .se-keyboard-shortcut {
  color: rgba(0,0,0,0.4);
}

.sc-context-menu .sc-tool-group > .sc-tool .se-icon,
.sc-menu > .se-item .se-icon,
.sc-menu-item .se-icon {
  flex: 0 0 0;
  padding-right: 7px;
}

.sc-context-menu .sc-tool-group > .sc-tool .se-label,
.sc-menu > .se-item .se-label,
.sc-menu-item .se-label {
  flex: 0 0 0;
}

.sc-context-menu .sc-tool-group > .sc-tool .se-keyboard-shortcut,
.sc-menu > .se-item .se-keyboard-shortcut,
.sc-menu-item .se-keyboard-shortcut {
  flex: 100 0 0;
  font-weight: normal;
  font-size: 10px;
  padding-left: 20px;
  color: rgba(255,255,255,0.4);
  text-align: right;
}
