.sc-multi-select-input {
  position: relative;
  width: 100%;
  line-height: var(--t-input-line-height);
  cursor: pointer;
  padding: var(--t-input-padding);
  margin: var(--t-negative-input-padding);
  border-radius: var(--t-border-radius);
  border: var(--t-input-default-border);
}

.sc-multi-select-input.sm-active {
  border: var(--t-input-focus-border);
  background: var(--t-focus-background-color);
}

.sc-multi-select-input.sm-empty .se-label {
  color: var(--t-placeholder-text-color);
  font-weight: var(--t-normal-font-weight);
}

.sc-multi-select-input .se-select-editor {
  padding: var(--t-half-spacing) var(--t-default-spacing);
}

.sc-multi-select-input .se-select-editor .se-select-item {
  display: flex;
  cursor: pointer;
}

.sc-multi-select-input .se-select-editor .se-select-item .se-icon {
  margin: 5px 0px;
  width: 20px;
}

.sc-multi-select-input .se-select-editor .se-select-item .se-item-label {
  margin-left: var(--t-half-spacing);
}