.sc-pinned-message {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background: #fff;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.sc-pinned-message > .se-msg-wrap {
  display: flex;
  max-width: 600px;
  margin: 7px auto;
  color: #000;
  text-align: center;
}

.sc-pinned-message > .se-msg-wrap > .se-icon {
  color: #ff0000;
  font-size: 26px;
  margin-right: 20px;
}

.sc-pinned-message > .se-msg-wrap > .se-msg {
  text-decoration: underline;
}