.sc-container-editor > .sc-text-node:only-child > .sc-text-property.sm-empty:before,
.sc-text-input .sc-text-property.sm-empty:before,
.sc-text-property-editor .sc-text-property.sm-empty:before {
  content: attr(data-placeholder);
  position: absolute;
  color: var(--t-placeholder-text-color);
  font-weight: var(--t-normal-font-weight);
}