/* TODO: use variables! */
.sc-container-editor > .sc-text-node:only-child > .sc-text-property.sm-empty:before,
.sc-text-input .sc-text-property.sm-empty:before {
  content: attr(data-placeholder);
  position: absolute;
  color: #ccc;
  font-weight: 400;
}