.sc-tool-dropdown {
  position: relative;
}

.sc-tool-dropdown > .se-choices {
  position: absolute;
  top: 30px;
  left: -3px;
  padding: 4px;
  background: #fff;
  box-shadow: var(--t-default-box-shadow);
  border-radius: var(--t-tool-border-radius);
}

.sc-tool-dropdown > .se-choices .sc-tool-group {
  display: block!important;
}

.sc-tool-dropdown.sm-disabled > .se-toggle {
  opacity: 0.3;
}

/* Position tooltip */
.sc-tool-dropdown > .sc-tooltip {
  display: none;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%);
}

.sc-tool-dropdown:hover > .sc-tooltip {
  display: block;
}