.sc-tool-switcher {
  display: flex;
}

.sc-tool-switcher > .sc-tool {
  width: initial;
  color: var(--t-light-text-color);
  font-size: var(--t-tiny-font-size);
  margin-right: 4px;
  cursor: pointer;
}

.sc-tool-switcher > .sc-tool > .se-label {
  margin: 0 var(--t-button-padding);
}

.sc-tool-switcher > .sc-tool.sm-active {
  color: var(--t-inverted-text-color);
  background: var(--t-action-color);
  cursor: default;
}
