.sc-tool {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  line-height: 2.1;
  font-size: var(--t-dropdown-font-size);
  font-weight: var(--t-bold-font-weight);
  width: 100%;
  border-radius: var(--t-tool-border-radius);
  padding: 0px 5px;
}

.sc-tool:hover {
  background: var(--t-default-button-background);
}

.sc-tool > .se-icon {
  flex: 0 0 0;
  padding-right: 7px;
}

.sc-tool > .se-keyboard-shortcut {
  color: rgba(0,0,0,0.4);
  font-weight: var(--t-normal-font-weight);
  font-size: 10px;
  padding-left: var(--t-default-spacing);
}

/* Disabled tools */

.sc-tool[disabled=true] {
  opacity: 0.3;
}

.sc-tool[disabled=true] > .se-keyboard-shortcut {
  color: rgba(255,255,255,0.4);
}