.sc-contrib-group { padding-bottom: var(--default-padding); overflow: auto; }
.sc-contrib-group > * { float: left; margin-right: var(--default-padding); }
.sc-contrib-group .se-add-author { color: var(--link-color); }