.sc-edit-relationship {
  height: 100%;
}

.sc-edit-relationship table.se-entries {
  width: 100%;
}

.sc-edit-relationship tr.se-entry {
  border-top: 1px solid #dadada;
}

.sc-edit-relationship td {
  padding: 10px 20px;
  font-size: 15px;
}

.sc-edit-relationship td.se-actions {
  width: 100px;
  white-space: nowrap;
  text-align: right;
}

.sc-edit-relationship td.se-type {
  white-space: nowrap;
  text-align: right;
  padding: 0 5px;
}

.sc-edit-relationship td.se-type span {
  background: #ddd;
  padding: 3px 10px;
  color: #777;
  border-radius: 3px;
  font-size: 12px;
}

.sc-edit-relationship td button {
  display: inline-block;
  margin-left: 10px;
  color: #4A90E2;
}

.sc-edit-relationship > .se-content .se-empty {
  border-top: 1px solid #dadada;
  padding: 10px 20px;
}
