.sc-edit-relationship {
  height: 100%;
}

.sc-edit-relationship table.se-entries {
  width: 100%;
}

.sc-edit-relationship td {
  padding: 5px 0px;
}

.sc-edit-relationship td.se-edit {
  text-align: right;
}

.sc-edit-relationship td button {
  display: inline-block;
  margin-left: 10px;
}

.sc-edit-relationship > .se-content {
  padding: 20px;
}
