/*
  A set of classes for style reuse, without requiring complete
  component definitions.
*/

.sg-actions {
  text-align: right;
  padding: 20px;
}

.sg-actions > button {
  display: inline-block;
  margin-left: 10px;
}

.sg-actions > button.sm-secondary {
  background: #606060;
}

.sg-actions > button.sm-secondary:focus {
  background: #404040;
}

/* HACK: */
.sc-modal-dialog input,
.sc-modal-dialog .sc-rich-text-input {
  background: #EAEAEA;
  border: none;
  width: 100%;
  padding: 3px 10px;
  border-radius: 4px;
}
