/*
  A set of classes for style reuse, without requiring complete
  component definitions.
*/

.sg-actions {
  text-align: right;
  padding: 20px;
}

.sg-actions > button {
  background: #606060;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 20px;
}

.sg-actions > button.sm-primary {
  background: #4A90E2;
}

/* HACK: */
.sc-modal-dialog input {
  background: #EAEAEA;
  border: none;
  width: 100%;
  padding: 3px 10px;
  border-radius: 4px;
}
