.sc-in-place-editor {
  display: flex;
}

.sc-in-place-editor .se-entity-input {
  width: 100%;
}

.sc-in-place-editor .se-entity-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.sc-in-place-editor .se-entity-item .se-input {
  width: 100%;
  margin-right: 10px;
}

.sc-in-place-editor .se-entity-input .se-add-value {
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  padding: 2px 8px;
}