.sc-metadata-editor {
  display: flex;
  width: 100%;
}

.sc-metadata-editor .se-toc {
  flex: 0 0 150px;
  overflow: auto;
  padding: 10px;
}

.sc-metadata-editor .se-toc .se-toc-item {
  display: block;
  margin: 10px 0px;
  color: inherit;
}

.sc-metadata-editor .se-collections {
  flex: auto;
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}