.sc-metadata-editor {
  display: flex;
  width: 100%;
}

.sc-metadata-editor .se-toc {
  flex: 0 0 250px;
  overflow: auto;
  padding: 30px;
}

.sc-metadata-editor .se-toc .se-toc-item {
  position: relative;
  display: block;
  text-decoration: none;
  color: #888;
  font-weight: 500;
  font-family: 'Avenir Next', Helvetica;
  display: block;
  padding: 2px 0px;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}

.sc-metadata-editor .se-toc .se-toc-item:hover {
  color: #111;
}

.sc-metadata-editor .se-sections {
  flex: auto;
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

.sc-metadata-editor .se-collections {
  max-width: 760px;
  padding: 30px;
}