.sc-person-group-input table {
  width: 100%;
}

.sc-person-group-input td {
  padding-right: 5px;
  padding-bottom: 5px;
}

.sc-person-group-input button.se-add-new {
  padding-top: 5px;
  color: #2A8CFF;
}
