.sc-expandable-component {

  &.sm-collapsed {
    font-family: $font-family-code;
    font-size: $small-font-size - 2;
    border: 1px dashed $border-color;
    cursor: pointer;

    button {
      display: inline;
    }    
  }

  &.sm-expanded {
    display: block;
    margin: 20px 0;
    background: #eee;
    padding: 20px;
  }

}