.sc-unsupported-inline-node {
  font-family: $font-family-code;
  font-size: $small-font-size - 2;
  border: 1px dashed $border-color;
  cursor: pointer;

  button {
    display: inline;
  }

  position: relative;

  .se-actions {
    position: absolute;
    top: 20px;
    left: 10px;
    padding: 5px;
    border: 1px solid $border-color;
    background: #fff;
  }
}