.sc-unsupported-block-node {
  font-family: $font-family-code;
  font-size: $small-font-size - 2;
  // padding: $default-padding / 2;
  // background: $fill-light-color;
  border: 1px dashed $border-color;
  // margin: $default-padding 0;
}